.navbar {
  margin-left: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: lightgrey;
  max-width: 100px;
}

.navbar a {
  margin: 10px;
  text-decoration: none;
  font-size: 1.5em;
}
.navbar a:hover {
  color: red;
}
